@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");

body {
  font-family: "Barlow" sans-serif;
  line-height: 1.7;
  color: #fde047;
  background-color: #141313;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700 !important;
  color: #efeff3;
}
a {
  color: #27272a;
  text-decoration: none;
  transition: all 0.4s ease;
}
img {
  width: 50%;
}
section{
  padding-top: 80px;
  padding-bottom: 80px;
}
.bg-cover{
  background-position: center !important;
  background-size: cover !important;
  background-position: center !important;
}
.intro{
  margin-bottom: 40px;
}
.intro h2{
  color: #6b21a8;
}
.intro p,h6{
  color: #f7f5f9;
}
.intro p{
  max-width: 500px;
  margin: auto;
}
/*NAVBAR*/
.top-nav {
  background-color: #a855f7;
  padding-top: 5px;
  padding-bottom: 5px;
}
.top-nav p {
  margin-bottom: 0;
  display: inline-block;
  margin-right: 10px;
  color: #ffff;
}
.top-nav i,
.top-nav span {
  vertical-align: middle;
}

.social-links a {
  width: 34px;
  height: 34px;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  font-size: 20px;
  border-radius: 100%;
}
.social-links a:hover {
  background-color: #6b21a8;
  color: #831843;
}

.navbar {
  box-shadow: 0px 6px 12px #66416e;
 
}
.nav-link{
  color: #fdf4ff;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active{
color: #6b21a8 ;
}
.navbar-brand{
  font-family: 'Tangerine', serif;
  font-weight: 900;
  font-size: 28px;
  color:#9d174d ;
}
.navbar-brand span{
  color: #fde047;
}

/*BTN*/
.btn{
  padding: 9px 24px;
  font: weight 100px ;
}

.btn-brand{
  background-color: #a855f7;
  color: #fde047;
  border-color: #fde047;
}

.btn-brand:hover{
  color: #fdf4ff;
  background-color: #6b21a8;
}

/*SLIDER*/
.hero-slider{
  font-weight: 700 !important;
}
.slide1{
  background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)) ,url(../img/close-up-image.jpg) ;
}
.slide2{
  background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)) ,url(../img/ABC-10.jpg);
}
/*owl-carousel*/
.owl-prev,
.owl-next{
  background-color: rgba(255, 255, 255, 0.3) !important;
    width: 60px !important;
    height: 60px !important;
    display: block;
    display: grid;
    place-items: center;
    color: #fff !important;
    border-radius: 100px;
    line-height: 0;
    border-radius: 100px !important;
    position: absolute;
    top: 50%;
    font-weight: 600 !important;
    font-size: 12px !important;
    transition: all 0.4s ease;
    margin-top: -30px !important;
}
.owl-prev{
  left: 0;
}
.owl-next{
  right: 0;
}
.owl-next:hover,
.owl-prev:hover{
  background-color: #66416e !important;
}
/*ABOUT*/
#about{
  background-color: #141313;
}
/*INFOBOX*/

.info-box {
  align-items: center;
  display: flex;
}
.info-box img {
  width: 90px;
  margin-right: 60px;
  margin-left: 0px;
}
.info-boxx img{
  width: 500px;
}
.para1 p {
  color: #6b21a8;
  font-size: large;
}
/*MILESTONE*/
#milestone{
  background:linear-gradient(#cbb1ef66,#e0bbe766) ,url(../img/close-up-image.jpg) ;
}
#milestone .display-4,
#milestone p{
  color: #fff;
}
#milestone .display-4{
  font-weight:700 ;
}
/*SERVICE*/
.service-box{
  padding: 32px;
  box-shadow: 0px 6px 12px #66416e;
  text-align: center;
}
.service-box img{
  width:60px ;
}
.service-box h5{
  padding-top: 24px;
  padding-bottom: 12px;
}

/*PORTFOLIO*/
#project-slider .owl-next,
#project-slider .owl-prev {
 background-color:#66416e2d !important ;
}
#project-slider .owl-next:hover,
#project-slider .owl-prev:hover {
  background-color: #66416e !important;
}
#portfolio{
  background-color: #2f26302a;
}
.project{
  position: relative;
}
.project .overlay{
  background : linear-gradient(to bottom,rgba(137, 124, 147, 0),rgb(77, 47, 104));
  position:absolute ;
  width: 100%;
  height: 240px;
  bottom: 0;
  left: 0;
}

.project .content{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 32px;
}
.project h1,
.project h6{
  color: #f7f5f9;
}
.project h6{
  font-size: 14px;
  text-transform: uppercase;
}
.project h6::before{
    content: '';
    height: 2px;
    width: 24px;
    background-color: #d0bce2;
    display: inline-block;
    vertical-align:middle ;
    margin-right: 12px;
}
/*TEAM*/
.team-member{
  text-align: center;
}
.team-member .img-wrapper{
  position: relative;
  overflow: hidden;
  width: 100%;
}

.team-member .overlay{
  position:absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a955f750;
  transition: all 0.4s ease;
  opacity: 0;
}
.team-member .social-links{
  position: absolute;
  top: 60%;
  left:50% ;
  transform: translate(-50%,-50%);
  transition: all 0.4s ease; 
  opacity: 0;
}
.team-member:hover .overlay{
  opacity: 1;
  top: 0;
}
.team-member:hover .social-links{
  opacity: 1;
  top: 50%;
}
.team-member h5{
  margin-top:24px ;
}
/*REVIEWS*/
#reviews{
  background:linear-gradient( rgba(137, 124, 147, 0),rgb(77, 47, 104)) ,url(../img/close-up-image.jpg) ;
}
.review{
  max-width: 900px;
  margin: auto;
  text-align: center;
}
.review h4{
  margin-top: 24px ;
}
.review img{
  width: 85px !important;
  border-radius: 1000px;
  margin: auto;
}
.review small{
  color: #141313;
  font-size: x-large;

}
.review p{
  margin-top: 28px;
}
.owl-dot.active span{
   background-color: #d8b5fa !important;
}
/*Blog*/
.blog-post{
  position: relative;
}
.blog-post .tag{
  padding: 4px 12px;
  background-color: #66416e;
  color: #141313;
  border-radius: 100px;
  top: 20px;
  left: 20px;
  position: absolute;
}
.blog-post .img0 {
   width: 100%;
   margin-bottom: 24px;
}
.blog-post small{
  color: #6b21a8;
  text-transform: uppercase;
  text-decoration: underline;
}
.blog-post h4{
  margin-top: 12px;
  margin-bottom: 12px;

}
/*FOOTER*/
footer{
  padding-top: 80px;
  padding-bottom: 20px;
  color: #ffff;
  text-align: center;
  background:linear-gradient( rgba(137, 124, 147, 0.791),rgba(77, 47, 104, 0.829)) ,url(../img/close-up-image.jpg) ;
   
}
footer .navbar-brand{ 
  color: #d0bce2;
  text-align: center;
  display: inline-block;
}
footer .navbar-brand{
  color: #ffff;
  margin-bottom: 28px;
}
.footer-top{
  margin-bottom: 40px;
}
.footer-bottom{
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
}
footer .social-links{
    margin-left: 5px;
    margin: 5px;
}

input.form-control {
  border-color: transparent;
  height: 44px;
}

.form-control {
  background-color: rgba(0, 0, 0, 0.04);
  border-color: rgba(0, 0, 0, 0.04);;
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--brand);
}



input.form-control {
  border-color: transparent;
  height: 44px;
}

.form-control {
  background-color: rgba(0, 0, 0, 0.04);
  border-color: rgba(0, 0, 0, 0.04);;
}

.form-control:focus {
  box-shadow: none;
  border-color:#6b21a8;
}



